* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
.Introduction{
	borderBottom:'1px solid rgba(255,255,255,..2)';
}

.AboutMe{
	display:'flex';
	alighItems: 'center';
	justifyContent: 'center';
	width: '100%';
	height: '100%';
	background:'#000';
	borderBottom:'1px solid rgba(255,255,255,..2)';
}